---
---

@import "minima";

$accent-color: #d65281;

$mobile-device-width: 600px;
$tablet-device-width: 800px;

@mixin media-query($device-width) {
  @media screen and (max-width: $device-width) {
    @content;
  }
}

/* temp */ 
body {
  background: #fcfcfc;
}

.mm-mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.mm-mode p {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 5px;
}

.mm-social {
  font-size: 20px;
  font-weight: 500;
}

.mm-twitter,
.mm-linkedin {
  color: #222;
  margin: 5px;
}

.mm-twitter:hover {
  color: #1DA1F2;
}

.mm-linkedin:hover {
  color: #2867b2;
}

@include media-query($mobile-device-width) {
  .mm-mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
  }

  .mm-mode p {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .mm-social {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .mm-twitter,
  .mm-linkedin {
    margin: 5px;
  }
}

/* end temp */

/* Site header */
.site-title:hover {
  text-decoration: none;
}

.site-header {
  border-top: 5px solid $accent-color;
}

/* Site footer */
.footer-col-1 {
  width: -webkit-calc(30% - (30px / 2));
  width: calc(30% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(40% - (30px / 2));
  width: calc(40% - (30px / 2));
  text-align: center;
}

.footer-col-3 {
  width: -webkit-calc(30% - (30px / 2));
  width: calc(30% - (30px / 2));
}

.copy p {
  text-align: right;
}

@include media-query($tablet-device-width) {
  .footer-col-1,
  .footer-col-3 {
    width: -webkit-calc(30% - (30px / 2));
    width: calc(30% - (30px / 2));
  }

  .footer-col-2 {
    width: -webkit-calc(40% - (30px / 2));
    width: calc(40% - (30px / 2));
    text-align: center;
  }

  .copy p {
    text-align: right;
  }
}

@include media-query($mobile-device-width) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }

  .footer-col-2 {
    text-align: left;
  }

  .copy p {
    text-align: left;
  }
}
